form {
    padding-bottom: 40px;

    label {
        display: flex;
        gap: 15px;
        align-items: center;
        margin-bottom: 10px;
        width: fit-content;
    }
}

input[name="jokeFinder"] {
    visibility: hidden;
    opacity: 0;
    position: absolute;

    &+span {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid $text_lite;
        transition: $icons;
    }
}

input[name="jokeFinder"]:checked+span {
    border: 2px solid $text;
}

input[name="jokeFinder"]:checked+span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $text;
}


.searchindField {
    display: block;
    width: 100px;
    outline: 2px solid $text_lite;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 20px 0;

    position: absolute;
    top: 350px;
    left: -100%;

    transition: width 300ms ease-in-out;

    &::placeholder {
        color: $text_lite;
    }

    &:focus {
        outline: 2px solid $text;
    }

    &.chooseVisible {
        position: static;
        width: 100%;
    }
}


.jokesCategories {
    position: absolute;
    top: 0;
    left: -200%;
    transition: $icons;

    label {
        margin-bottom: 0;

        span {
            padding: 7px 15px 5px;
            color: $text_lite;
            text-transform: uppercase;
            line-height: 133%;
            letter-spacing: 2px;
            font-size: 12px;
            font-weight: 500;
            border: 2px solid $lite_bg;
            border-radius: 6px;
        }

        input[name="jokeCat"] {
            visibility: hidden;
            opacity: 0;
            position: absolute;
        }

        input[name="jokeCat"]:checked+span {
            color: $text;
            background: $lite_bg;
        }
    }


    &.chooseVisible {
        position: static;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 20px 0;
    }
}



//Button
#getAJoke {
    color: $white;
    line-height: $btn-lh;
    font-weight: $btn-fw;
    font-size: $btn-fs;
    cursor: pointer;

    padding: 10px 40px;
    background: $button_bg;
    border-radius: $btn-brgrad;
    border: none;

    &:hover {
        background: $button_bg-focus;
    }

    &:active {
        background: $button_bg-active;
    }
}